.feature__item.card
    img(src="./image/feature__icon1", alt="").card__logo
    h3.card__title Professional & Fast
    p.card__text
        | Search and hire the most talented freelancers to match your needs. 
        | No matter what you need done, we've got the perfect freelancer for you.