div(class=`${classes} comment`)
        .comment__userBox 
            img(src='/image/'+ image).comment__Image
            h3.comment__name= fullname
            img(src='./image/Stars.png').comment__rating
        p.comment__text= fulltext