-
    const social =[
        './image/social__airbnb.webp',
        './image/social__google.webp',
        './image/social__slack.webp',
        './image/social__netflix.webp',
        './image/social__amazon.webp',
        ]
.social
    each val in social
        img(src=val).social__item