-
    const social =[
        './image/social__airbnb.png',
        './image/social__google.png',
        './image/social__slack.png',
        './image/social__netflix.png',
        './image/social__amazon.png',
        ]
.social
    each val in social
        img(src=val).social__item