.testimonial{
    position: relative;
    width: 100%;
    padding: 80px 162/1440*100% 100px;
    background-color: #fafafa;
    z-index: 0;

    &__pretitle{
        text-align: center;
        margin: 0 0 15px 0;
        @include fonts(
            $font-family: 'SFProDisplay' ,
            $font-size: 16px,
            $font-weight: 600,
            $line-height: null,
            $letter-spacing: 3px,
            $color: $oceanBoatBlue,
        )
    }

    &__title{
        text-align: center;
        @include fonts(
            $font-family: 'SFProDisplay' ,
            $font-size: 48px,
            $font-weight: bold,
            $line-height: 125%,
            $letter-spacing: -0.5px,
            $color: $black,
        )
    }
    &__commentBox{
        width: 100%;
        display: flex;
        justify-content: space-between;
        
        @include for-desktop{
            flex-direction: column;
            gap: 24px;
         }
    }
    &__colum{
        width: calc(100% / 3 - 48px);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 24px;

        @include for-desktop{
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            gap: 24px;
            flex-wrap: wrap;
        }
    }
}
