-
    const testimonial =[
        {
            colum : 'testimonial__colum',
            firstComment:{
                class:'testimonial__comment',
                name:'Cara Bedford',
                image:'user1.png',
                text:
                    "I have been using Wakanda for quite some time now and I have to say " +
                    "it has been the best freelance hiring platform that I've used. The quality of free " +
                    "lancers on this site is very high and they're totally reliable. I would " +
                    "highly recommend it!"
            },
            secondComment:{
                class:'testimonial__comment',
                name:'Kathryn Murphy',
                image:'user2.png',
                text:
                    "One of the best things about Wakanda is that it really simplifies the process " +
                    "of finding and hiring people. The quality is good as well, every freelancer " +
                    "I've hired has been high-quality and professional. I would recommend this to anyone who needs a freelancer."
            }
        },
        {
            colum : 'testimonial__colum',
            firstComment:{
                class:'testimonial__comment',
                name:'Robert Fox',
                image:'user3.png',
                text:
                    "I’m so happy because the freelance talent we work with are more productive than " +
                    "we have ever thought. Recommend for people who want to find professional freelancer on this platform."
            },
            secondComment:{
                class:'testimonial__comment',
                name:'Esther Howard',
                image:'user4.png',
                text:
                    "have used a lot of freelance hiring platforms, but none compare to Wakanda. The quality of freelancers" +
                    "that I can find here is unmatched and the service is top-notch. The customer service is also excellent, " +
                    "which cannot be said for my previous experiences in using other apps. I would highly recommend this product " +
                    "for anyone looking to hire a freelancer."
            }
        },
        {
            colum : 'testimonial__colum',
            firstComment:{
                class:'testimonial__comment',
                name:'Albert Flores',
                image:'user5.png',
                text:
                    "I am happy to say that I have hired a couple of freelancers through Wakanda and they are high-quality ones." +
                    "Working with them is not just easier; it has also been more effective. Having found a great freelance team, " +
                    "I cannot imagine switching to any other hiring platform."
            },
            secondComment:{
                class:'testimonial__comment',
                name:'Eleanor Pena',
                image:'user6.png',
                text:
                    "I have used a number of different freelance hiring platforms and none come close to Wakanda. " +
                    "The quality of the freelancers on here is top notch and it's easy to browse through the listings. " +
                    "I've been using it for six months now and I've found my perfect freelancer without any regrets whatsoever."
            }
        },
    ]
.testimonial
    .testimonial__background
    h3.testimonial__pretitle TESTIMONIAL
    h2.testimonial__title
        | See what they’re saying <br/> 
        | about us
    .testimonial__commentBox
        each val in testimonial
            .testimonial__colum
                +comment(val.firstComment.class,val.firstComment.name,val.firstComment.image,val.firstComment.text)
                +comment(val.secondComment.class,val.secondComment.name,val.secondComment.image,val.secondComment.text)