- 
    const footer = [
        {
            name:'Company',
            input: false,
            list:[
                {
                    name:'About us',
                    link:'#'
                },
                {
                    name:'Blog',
                    link:'#'
                },
                {
                    name:'Contact us',
                    link:'#'
                },
                {
                    name:'How it works',
                    link:'#'
                },
                {
                    name:'For freelancer',
                    link:'#'
                }
            ]
        },
        {
            name:'Support',
            input: false,
            list:[
                {
                    name:'Help center',
                    link:'#'
                },
                {
                    name:'Terms of service',
                    link:'#'
                },
                {
                    name:'Legal',
                    link:'#'
                },
                {
                    name:'Privacy policy',
                    link:'#'
                },
                {
                    name:'Status',
                    link:'#'
                },
            ]
        },
        {
            name:'Subscribe to our newsletter',
            input: true,
            list:[
                {
                    name:'Your email address',
                    logo:'./image/footer__button.webp'
                }
            ]
        }
    ]
.footer 
    .footer__left
        a.logo
            img(src='/image/footer__logo.webp').logo__image 
            h3.logo__title.footer__logoTitle Wakanda 
        .footer__icons 
            img(src="./image/footer__icon1.webp", alt="").footer__instagram
            img(src="./image/footer__icon2.webp", alt="").footer__dribbble
            img(src="./image/footer__icon3.webp", alt="").footer__twitter
            img(src="./image/footer__icon4.webp", alt="").footer__youtube
        p.footer__copyRight Copyright © 2022 Wakanda. All rights reserved
    .footer__right
        ul.footer__mainList 
            each val in footer
                li.footer__mainItem= val.name 
                    ul.footer__subList
                        each i in val.list
                            if val.input
                                .footer__inputBlock
                                    input.footer__input(type='text', placeholder=i.name)
                                    img(src=i.logo, alt="").footer__inputLogo
                            else
                                li.footer__subItem
                                    a(href=i.link).footer__link= i.name 
                    
                    
                
