.explore 
    .explore__content
        h2.explore__title Explore and hire talent from our platform
        p.explore__text 
            | We've got experts for every industry - all under one roof! You can find 
            | everything from WordPress developers to Graphic designers to copywriters
            | and many more at Wakanda.
        a.explore__link(href="#") Explore now
    img(src="./image/explore__image.webp", alt="").explore__image