.action 
    .action__wrapper 
        img(src="./image/action__image.webp", alt="").action__image
        .action__content 
            h3.action__pretitle WHAT ARE YOU WAITING FOR?
            h2.action__title Find the talent to get your business growing
            a.action__link Get Started
