.header{
    position: relative;
    width: 100%;
    padding: 27px 162/1440*100% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    &__right{
        @include for-desktop{
            display: none;
        }
    }

    &__checkbox{
        display: none;
        &:checked ~ .header__right{
            display: flex;
            position: absolute;
            top: 70px;
            right: 0;
            left: 0;
            margin: 0 auto;
            flex-direction: column;
            z-index: 99;
        }
    }

    &__toggle{
        display: none;
        position: absolute;
        font-size: 25px;
        right: 70px;
        @include for-desktop{
            display: block;
        }
    }
}