.recruit 
    img( src='./image/recruit__background.png').recruit__background
    .recruit__content
        h2.recruit__title
            | Recruit top talented <br/> 
            | freelancer for your <br/> 
            | business
        p.recruit__description 
            | Connect you to thoudsands of talented freelancer from <br/> 
            | any industry. You can have the best people in just few <br/> 
            | simple steps.
        a.recruit__button
            | Get Started
    img(src='./image/recruit__image.png').recruit__image