extends ./pug/layout/default.pug
include ./pug/helpers/mixins

block variables




block content
    .container
        include ./pug/blocks/header/header
        include ./pug/blocks/recruit/recruit
        include ./pug/blocks/social/social
        include ./pug/blocks/feature/feature
        include ./pug/blocks/tutorial/tutorial
        include ./pug/blocks/explore/explore
        include ./pug/blocks/testimonial/testimonial
        include ./pug/blocks/action/action