@import './scss/mixins.scss';

@font-face {
    font-family: 'SF Pro Display';
    src: url('./fonts/sfpro/SFProDisplay-Medium.eot');
    src: local('SF Pro Display Medium'), local('SFProDisplay-Medium'),
        url('./fonts/sfpro/SFProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
        url('./fonts/sfpro/SFProDisplay-Medium.woff2') format('woff2'),
        url('./fonts/sfpro/SFProDisplay-Medium.woff') format('woff'),
        url('./fonts/sfpro/SFProDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./fonts/sfpro/SFProDisplay-Bold.eot');
    src: local('SF Pro Display Bold'), local('SFProDisplay-Bold'),
        url('./fonts/sfpro/SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/sfpro/SFProDisplay-Bold.woff2') format('woff2'),
        url('./fonts/sfpro/SFProDisplay-Bold.woff') format('woff'),
        url('./fonts/sfpro/SFProDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./fonts/sfpro/SFProDisplay-Semibold.eot');
    src: local('SF Pro Display Semibold'), local('SFProDisplay-Semibold'),
        url('./fonts/sfpro/SFProDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/sfpro/SFProDisplay-Semibold.woff2') format('woff2'),
        url('./fonts/sfpro/SFProDisplay-Semibold.woff') format('woff'),
        url('./fonts/sfpro/SFProDisplay-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$black: #000000;
$white: #ffffff;
$oceanBoatBlue:#0077C0;


body{
    width: 1440px;
}
.container{
    width: 100%;
    max-width: 1440px;
    padding: 27px 162/1440*100% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


@import './scss/imports.scss';