.feature 
    h3.feature__pretitle FEATURE
    h2.feature__title The benefit of using <br/> our platform
    .feature__flexbox 
        .feature__item.card
            img(src="./image/feature__icon1.png", alt="").card__logo
            h3.card__title Professional & Fast
            p.card__text
                | Search and hire the most talented freelancers to match your needs. 
                | No matter what you need done, we've got the perfect freelancer for you.
        .feature__item.card
            img(src="./image/feature__icon2.png", alt="").card__logo
            h3.card__title 24/7 support
            p.card__text
                | You have any concerns or questions? Don’t worry, 
                | we have our support team to help you at anytime and anywhere.
        .feature__item.card
            img(src="./image/feature__icon3.png", alt="").card__logo
            h3.card__title Safe & Secure
            p.card__text
                | We know that safety is the most important thing for our customer, 
                | so all of our payments are processed instantly and securely.